$primary-color: #5a6f08;
$secondary-color: #93ad18;

$primary-color-10: #f8fbf7;
$primary-color-50: #c7da7c;

$black-color: #001219;
$black-color-10: #f2fbff;
$black-color-20: #eeeeee;
$black-color-50: #80888d;